<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="http://10.200.218.194/SystemInfoService/"
                      binding="basicHttpBinding"
                      behaviorConfiguration="serviceInterceptorsAdded"
                      contract="SystemInfoService.ISystemInfoService"
                      name="BasicHttpBinding_ITestService"/>
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="serviceInterceptorsAdded">
					<serviceInterceptors />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add
				  name="serviceInterceptors"
				  type="ServiceTest.EndpointBehavior, Host, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"
        />
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>
</configuration>