<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pathToFile" value="data"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlConnectionString" connectionString="Data Source=NICE-PF2M9XKZ\SQLEXPRESS;Initial Catalog=University;Integrated Security=SSPI"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>